/*-------------------------------------------------------
 Responsive
 -------------------------------------------------------*/
 @media (min-width:320px) and (max-width:567px){
    .the-team-section figure {width: 100%;margin-right: 0;margin-bottom: 10%;}
    span.wpcf7-form-control-wrap.first_name, span.wpcf7-form-control-wrap.email,span.wpcf7-form-control-wrap.phone, span.wpcf7-form-control-wrap.appdetail, span.wpcf7-form-control-wrap.Lead_Budget__c {width: 100%;padding-left: 0;}
    .addtoany_list a {padding: 1px 5px !important;margin-right: 8px !important;margin-bottom: 8px;
}
    .addtoany_list a span.a2a_label {font-size: 10px !important;}
    .addtoany_list a:last-child {margin-right: 0 !important;}
    span.a2a_svg.a2a_s__default {width: 20px !important;height: 20px !important;}
    ul.home-forth-sec-process-list li {width:127px;height: 200px;float: none;}    
    ul.home-forth-sec-process-list li.process_list:nth-child(2) img {margin-top: 1px;}
    ul.home-forth-sec-process-list li.process_list:nth-child(4) img {margin-top: -4px;}
    ul.home-forth-sec-process-list li.process_list:first-child::before {background: 1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 17.06%, #F2B964 78.77%, rgba(245,166,35,0) 0%);width: 70px;top: 49px;left: -16%;}
    ul.home-forth-sec-process-list li.process_list:first-child::after {width: 60%;top: 49px;right: 0%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(2)::before {height: 2px;top: 49px;left: -5%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(2)::after {background:1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 0%, #F2B964 70%, rgba(245,166,35,0) 100%);width:79px;top: 49px;right: -14%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(3)::before {background: 1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 17.06%, #F2B964 78.77%, rgba(245,166,35,0) 0%);width: 73px;top: 49px;left: -16%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(4)::before {width: 30%;top: 49px;left: -2%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(3)::after {width: 32%;top: 49px;right: -3%;}
    ul.home-forth-sec-process-list li.process_list:last-child::after { background: 1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 0%, #F2B964 70%, rgba(245,166,35,0) 100%);content: "";position: absolute;width: 54px;height: 2px;top: 49px;right: -17px;}
 }
 @media (min-width:568px) and (max-width:767px){
    .singlework-inner-wrapper.owl-carousel .screen-list a img {width: 50%;margin: 0 auto;}
    .the-team-section figure {width: 46%;margin-right: 8%;}
	.the-team-section figure:nth-child(2n) {
    clear: right;
    margin-right: 0;}
    .the-team-section figure:nth-child(3n){clear: left;margin-right: 8%;}
    span.wpcf7-form-control-wrap.appdetail, span.wpcf7-form-control-wrap.Lead_Budget__c {width: auto;display: inherit;padding-left: 0;}
    span.wpcf7-form-control-wrap.first_name, span.wpcf7-form-control-wrap.email,span.wpcf7-form-control-wrap.phone{width: 100%;padding-left: 0;}
    ul.home-forth-sec-process-list li {width: 250px;height: 200px;float: none;}
    ul.home-forth-sec-process-list li.process_list:nth-child(2) img {margin-top: 1px;}
    ul.home-forth-sec-process-list li.process_list:nth-child(4) img {margin-top: -4px;}
    ul.home-forth-sec-process-list li.process_list:first-child::before {background: 1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 17.06%, #F2B964 78.77%, rgba(245,166,35,0) 0%);width: 145px;top: 49px;left: -8%;}
    ul.home-forth-sec-process-list li.process_list:first-child::after {width: 54%;top: 49px;right: 1%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(2)::before {height: 2px;top: 49px;left: -8px;}
    ul.home-forth-sec-process-list li.process_list:nth-child(2)::after {background:1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 0%, #F2B964 70%, rgba(245,166,35,0) 100%);width: 57%;top: 49px;right: -8%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(3)::before {background: 1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 17.06%, #F2B964 78.77%, rgba(245,166,35,0) 0%);width: 152px;top: 49px;left: -8%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(4)::before {width: 39%;top: 49px;left: -1px;}
    ul.home-forth-sec-process-list li.process_list:nth-child(3)::after {width: 41%;top: 49px;right: -2%;}
    ul.home-forth-sec-process-list li.process_list:last-child::after { background: 1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 0%, #F2B964 70%, rgba(245,166,35,0) 100%);content: "";position: absolute;width: 118px;height: 2px;top: 49px;right: -8%;}
 }
@media screen and (max-width: 767px){
    .error-404.not-found {text-align: center;min-height: auto;}
    .search-page{min-height: auto;}
    .error-404.not-found .searchform {width: 100%;}
    .related-news-blogs, .work-testimonial-list {display: none;}
    span.blog-share {text-align: center;}
    nav.custom-pagination {margin: 0;}
    .cross {position: absolute;float: none;top: 7px;right: 0;line-height: 26px;}
    .hamburger {position: absolute;float: none;top: 7px;font-size: 20px;line-height: 13px;}
    .burger-wrapper {width: 100%;margin: 0 auto;text-align: center;position: relative;float: none;}
    .sidebar-subcat-links span.category-title {
    float: none;width: 100%;text-align: left;display: none;}
    /*.sidebar-subcat-links span.category-title.desktop, .title-wrapper .blog-cat {display:none;}*/
   /* .sidebar-subcat-links span.category-title.mobile {display: inline-block;
    line-height: 23px;
    width: auto;text-align: center;}*/
    ul.sidebar-subcat-menus li a , .sidebar-subcat-menus{padding:10px;}
    .burger-wrapper .blog-cat{margin-bottom: 30px;}
    .home-first-sec-left h1, .contact-top-intro h1, h1.page-title, .top-title-wrap h1, .related-projects-blogs h1, .what-we-do-sec-wrap h1{font-size: 48px;line-height: 66px;}
    .home-testimonial-list figure figcaption h3 {font-size: 18px;line-height: 25px;margin-top: 0;font-family: "AvenirLTStd-Medium";margin-bottom: 0;}
    .lets-talk {margin-top: 50px;}
    .top_menu_bar {padding: 24px!important;}
    .open{display: block;}
    .contact-top-btn{display: block;}
    header nav {display: none;}
    .top_menu_left, .top_menu_right{width: 50%;}
    .top_menu_left .navbar-brand {padding: 0 20px 0 0px;line-height: 30px;}
    header {height: 80px;}
    .the-team-section,.news-section,.our-work-section,.contact-top-sec {padding-top: 30px;}
    main {margin-top: 80px; padding: 0;}
    .work-section-single {padding-top: 0;}
    .work-section-single .blog-dt.go-back{display: block;margin-bottom: 20px;}
    .work_list_left img {width: 50% !important;text-align: center;margin: 0 auto;}
    .home-first-sec-right {float: none;width: 100%;height: auto;padding-left: 0;margin: 0 auto;text-align: center;}
    .home-first-sec-left h1 {font-size: 38px;font-weight: 200;top: 60%;line-height: 48px;}
    .home-first-sec-left {float: none;width: 100%;height: 270px;}
    .home-first-sec {height: 450px;}
    .home-first-sec-right a {-ms-transform: translate(-0px);-webkit-transform: translate(-0px);transform: translateY(0px);}
    .home-second-sec-left {float: none;width: 100%;padding: 100px 40px;height: auto;text-align: center;}
    .home-second-sec-left p:last-child{margin-bottom: 0;}
    ul.home-second-sec-right {display: none;margin: 0;}
    .home-second-sec-left h2 {margin-bottom: 30px;width: 100%;font-size: 22px;line-height: 30px;}
    .home-second-sec .container {padding: 0;}
    .container {padding: 0 30px;}
    ul.home-forth-sec-process-list li.process_list img {width: 60px;}
    .discuss-project h2{font-size: 30px;line-height: 34px;font-family: "AvenirLTStd-Medium";}
    .home-forth-sec-wrap h2, .home-third-sec-wrap h2 {font-size: 24px;line-height: 33px;font-family: "AvenirLTStd-Medium";}
    ul.home-forth-sec-process-list {width: 100%;text-align: center;margin: 0 auto;}
    .home-third-sec-wrap p, .home-forth-sec-wrap p, .work-testimonial-list figure figcaption p{width: 100%;}
    .home-third-sec-work-list figure .work_list_left {float: none;width: 100%;}
    .home-third-sec-work-list figure {float: none;width: 100%;}
    .home-third-sec-work-list figure:nth-child(2n) .work_list_left {float: none;width: 100%;text-align: center;}
    .desktop-testimonial{display: none;}
    .mobile-testimonial{display: block;}
    section.home-forth-sec .container {padding: 90px 30px 30px;}
    .home-third-sec-work-list figure:nth-child(2n) figcaption {padding-left: 0;padding-right: 0;}
    .home-third-sec-work-list figure figcaption {float: none;width: 100%;padding: 7% 0% 7% 0%;text-align: center;height: auto;background-size: contain;background-position: center center;}
    .home-third-sec-work-list figure:nth-child(even) figcaption {background-size: contain;background-position: center center;}
    .home-third-sec-work-list figure figcaption h3 {font-size: 25px;}
    .work-inner-wrapper.owl-theme .owl-nav.disabled + .owl-dots {margin-right: 0;}
    .process_list label {font-family: "AvenirLTStd-Medium";letter-spacing: 1px;}
    .lets-talk p.message {width: 100%;font-size: 24px;font-family: "AvenirLTStd-Medium";line-height: 30px;opacity: 1;}
    .home-fifth-sec {padding-bottom: 60px;}
    footer .footer-left {float: none;width: 100%;text-align: center;}
    .menu-footer-menu-container {float: none;width: 100%;}
    ul.footer-right li a {padding: 10px 15px;}
    ul.footer-right li:last-child a {padding-right: 15px;}
    ul.footer-right {text-align: center;}
    .process_list label{font-size: 14px;}
    .home-testimonial-list figure {padding-right: 0;width: 100%;margin-bottom: 10px;}
    .testimonial_list_left {width: 80px;float: none;text-align: center;margin: 0 auto 30px;}
    .testimonial_list_left img {width: 80px;}
    .home-testimonial-list figure figcaption {width: 100%;float: none;text-align: center;}
    .contact-top-intro p {width: 100%;padding-left: 0;}
    .form-wrapper p.contact-text {font-size: 18px;line-height: 62px;}
    .form-wrapper .input-text, .form-wrapper input[type="text"], .form-wrapper input[type="input"], .form-wrapper input[type="password"], .form-wrapper input[type="email"], .form-wrapper input[type="number"], .form-wrapper input[type="url"], .form-wrapper input[type="tel"], .form-wrapper input[type="search"], .form-wrapper textarea, .form-wrapper select {font-size: 18px;}
    section.contact-Faq-sec .container,.contact-info .container {padding: 30px;}
    .contact-info .container {padding: 30px;background-position: center;background-image: url('../images/mobile-map.png') !important;background-size: cover;}
    section.contact-Faq-sec h2 {font-size: 22px;line-height: 30px;margin-bottom: 25px;}
    .faq-wrapper {margin-bottom: 30px;}
    .contact-footer-box:first-child, .contact-footer-box,.contact-footer-box:last-child {width: 100%;float: none;text-align: center;}
    .contact-info {padding-top: 0;padding-bottom: 0;}
    span.wpcf7-form-control-wrap.description {display: block;}
    .discuss-project:after{width: 32px;right: -30px;}
    .discuss-project:before {width: 32px;left: -30px;}
    .work-page figure .work_list_left,.work-page figure.work-postlist-even .work_list_left {width: 100%;float: none;text-align: center;height: auto;}
    .work-page figure figcaption, .work-page figure.work-postlist-even figcaption {float: left;width: 100%;padding: 0% 0% 0% 0%;background-repeat: no-repeat;background-position: center center;background-size: contain;height: auto;display: block;text-align: center;}
    .work-list-post-title .blog-cat a{display: none;}
    .work-page figure .work_list_left img {width: auto !important;height: auto;}
    .news-top-content-wrapper h2, .news-section-single-page h1 {font-size: 24px;line-height: 30px;}
    .news-top-content-wrapper .blog-img {margin-right: -30px;margin-left: -30px;}
    .news-top-content-wrapper .blog-dt {margin-left: 0;width: 100%;display: block;}
    .news-right figure .blog-date .blog-cat {float: none;display: block;}
    .news-right figure .blog-date span.blog-dt, article.single_related span.blog-dt {float: none;display: block;}
    .news-right figure .blog-date, .news-top-content-wrapper .blog-date, article.single_related .blog-date {margin-bottom: 15px;margin-top: 15px;}
    span.blog-cat {margin-bottom: 10px;display: block;}
    .news-right figure img {float: none;width: 100%;height: auto;margin-bottom: 30px;}
    .news-right figure figcaption {float: none;width: 100%;padding-left: 0;}
    textarea.wpcf7-form-control.wpcf7-textarea.content {height: 100px;width: 100%;padding-left: 0;}
    .what-we-do-sec-wrap {padding: 0 30px;}
    .what-we-do-sec .container {height: auto;padding: 0;}
    .what-we-do-sec {height: auto;padding: 30px 0 60px;}
    #bodymovin {display: none;}
    .what-we-do-sec-process-list {display:none;background-image: url('../images/Animation-still.png');background-size: contain;background-repeat: no-repeat;height: 70px;width: 100%;margin-top: 50px;background-position: center;}
    .main-process-wrap h2{font-family: "HiraginoSansGB-W3-Alphabetic";}
    .main-process-wrap h2, .experience-sec-heading-wrap h2, .mobile-technologies-left h2 {font-size: 30px;line-height: 36px;width: 100%;}
    .main-process-sec .container {padding: 90px 30px;}
    .main-process-list .process_list .process_list_bottom {padding-top: 0;padding-bottom: 15px;}
    .main-process-wrap p,.experience-sec-heading-wrap p, .experience-sec-bottom-text p {width: 100%;}
    ul.main-process-list {width: 100%;}
    ul.main-process-list li {width: 100%;margin-right: 0;text-align: center;}
    .main-process-list .process_list .process_list_top_head .mainprocess_img {float: none; width: 100%;}
    ul.main-process-list li:nth-child(2n) .mainprocess_img {float: none !important;width: 100% !important;}
    ul.main-process-list li:nth-child(2n) .mainprocess_img img {float: none;}
    .process_list .process_list_bottom p, ul.main-process-list li:nth-child(2n) .process_list_bottom p, ul.main-process-list li:nth-child(2n) .process_list_top_head h3{text-align: center;}
    ul.experience-list{padding-top: 0px;}
    ul.experience-list li {width: 50%;}
    .mobile-technologies-sec .container{padding: 0;}
    .mobile-technologies-sec {overflow: hidden;}
    .mobile-technologies-left {float: none; width: 100%;padding: 0 30px;height: auto;text-align: center;background-color: transparent;}
    .mobile-technologies-right {float: none;width: 100%;}
    ul.mobile-technologies-right li img {width: 65px;}
    .news-section-single-page .blog-dt.desktop{display: none;}
    .news-section-single-page .blog-dt.mobile{display: block;margin-bottom: 10px;}
    .news-section-single-page .blog-share-link span.blog-share{text-align: center;}
    .related-news-blogs article:first-child {margin-right: 0;margin-bottom: 90px;}
    .news-section-single-page article {padding-top: 10px;padding-bottom: 0;}
    .related-news-blogs article {width: 100%;padding-top: 0;}
    .news-section-single-page {padding-top: 0;}
    .news-section-single-page .blog-share-link span {width: 100%;}
    .blog-share-link {margin-bottom: 30px;}
    span.blog-share label {display: none ;}
    .challenge-sec .app-logo {float: none;width: 100%;text-align: center;}
    .app-logo img {width: 200px;margin-top: 0;}
    .top-title-wrap {margin-bottom: 0;}
    .challenge-sec .challenge-content {float: left;width: 100%;}
    blockquote.tag-line p {font-size: 18px;padding: 0px 20px;margin-bottom: 10px;line-height: 42px;}
    .related-projects-blogs figure.single_related {width: 100%;float: none;clear: both;}
    figure.single_related figcaption {float: none;width: 100%;text-align: center;margin-bottom: 40px;}
    figure.single_related figcaption:last-child{margin-bottom: 0;}
    figure.single_related figcaption p{margin-bottom: 20px;}
    blockquote.tag-line, blockquote.tag-line p {background-size: 20px;}
    .related-projects-blogs figure figcaption h2{margin-right: 0;}
    figure.single_related .img-left {float: none;width: 100%;margin-right: 0%;height: auto;}
    section.work-section-single .top-title-wrap .blog-cat a {margin: 0 2px 8px;}
    figure.single_related .img-left img {width: 150px;margin: 30px auto;text-align: center;}
}
@media (min-width: 768px) and (max-width: 836px){
    textarea.wpcf7-form-control.wpcf7-textarea.content{padding-left: 0;padding-top: 0;}
}
@media (min-width: 768px) and (max-width: 1023px){
    .work-section-single {padding-top: 0;}
    .work-section-single article {padding-top: 90px;}
    .work-section-single .blog-dt.go-back {
    display: block;}
    .what-we-do-sec .container {padding: 0;}
    .top_menu_left .navbar-brand {padding: 27px 20px 27px 0px;}
	.container { padding: 0 50px;}
	.top_menu_bar {padding: 0px 30px;}
	header {height: 80px;}
	main {margin-top: 80px;padding:0;}
    .home-first-sec-right {float: none;width: 100%;height: auto;padding-left: 0;margin: 0 auto;text-align: center;}
    .home-first-sec-left h1 {top: 60%;}
    .home-first-sec-left {float: none;width: 100%;height: 270px;}
    .home-first-sec {height: 450px;}
    .home-first-sec-right a {
    -ms-transform: translate(0px);
    -webkit-transform: translate(0px);
    transform: translateY(0px);}
    .home-second-sec-left {float: none;width: 100%;padding: 100px 40px;height: auto;text-align: center;}
    .home-second-sec-left p {margin:0 auto 60px;width: 587px;text-align: center;}
    .home-second-sec-left p:last-child{margin-bottom: 0;}
    .home-second-sec .container {padding:0 0 90px;overflow: hidden;}
    .home-third-sec.container-fluid{padding-top: 0;}
     ul.home-second-sec-right {margin: 0 auto;width: 100%;text-align: center;float: none;}
    .home-second-sec-left h2 {margin-bottom: 30px;width: 100%;font-size: 30px;line-height: 36px;}
    /*.home-second-sec .container {padding: 0;}*/
    ul.home-second-sec-right li {width: 33.33%;}
    section.home-forth-sec .container{padding-bottom:50px;}
    .home-third-sec-work-list figure:nth-child(even) figcaption, .home-third-sec-work-list figure figcaption{background-position: center center;}
    ul.home-forth-sec-process-list li {width: 304px;height: 200px;float: none;}
    ul.home-forth-sec-process-list li.process_list img {width: 73px;}
    ul.home-forth-sec-process-list li.process_list:first-child::before {background: 1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 17.06%, #F2B964 78.77%, rgba(245,166,35,0) 0%);width: 195px;top: 61px;left: -12%;}
    ul.home-forth-sec-process-list li.process_list:first-child::after {width: 54%;top: 61px;right: 2%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(2)::before {height: 2px;top: 62px;left: -4%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(2)::after {background:1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 0%, #F2B964 70%, rgba(245,166,35,0) 100%);width: 185px;top: 62px;right: -12%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(3)::before {background: 1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 17.06%, #F2B964 78.77%, rgba(245,166,35,0) 0%);width: 201px;top: 61px;left: -12%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(4)::before {width: 124px;top: 60px;left: -2%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(3)::after {width: 118px;top: 61px;right: 0%;}
    ul.home-forth-sec-process-list li.process_list:last-child::after { background: 1px linear-gradient(90deg, rgba(245,166,35,0) 0%, #F2B964 0%, #F2B964 70%, rgba(245,166,35,0) 100%);content: "";position: absolute;width: 155px;height: 2px;top: 60px;right: -12%;}
    .desktop-testimonial{display: none;}
    .mobile-testimonial{display: block;padding-bottom: 60px;}
    .home-testimonial-list figure {padding-right: 0;width: 100%;margin-bottom: 10px;}
    .testimonial_list_left {width: 80px;float: none;text-align: center;margin: 0 auto 30px;}
    .testimonial_list_left img {width: 80px;}
    .home-testimonial-list figure figcaption p {margin-bottom: 15px;width: 473px;text-align: center;margin-left: auto;margin-right: auto;}
    .home-testimonial-list figure figcaption h3 {font-size: 18px;line-height: 25px;margin-top: 0;font-family: "AvenirLTStd-Medium";margin-bottom: 0;}
    .home-testimonial-list.owl-carousel.owl-theme.testimonial-carousel.owl-loaded.owl-drag {margin-bottom: 0;}
    .home-testimonial-list figure figcaption {width: 100%;float: none;text-align: center;}
    .lets-talk {margin-top: 80px;}
    .lets-talk p.message {width: 587px;}
    .process_list label {/*font-family: "AvenirLTStd-Medium";*/letter-spacing: 1px;}
	.the-team-section figure {width: 40%;margin-right: 20%;margin-bottom: 15%;}
	.the-team-section figure:nth-child(2n) {clear: right;margin-right: 0;}
    .the-team-section figure:nth-child(3n){clear: left;margin-right: 20%;}
    .discuss-project:after{width: 52px;right: -50px;}
    .discuss-project:before {width: 52px;left: -50px;}
    .work-page figure .work_list_left, .work-page figure.work-postlist-even .work_list_left{height: 500px;width: 100%;text-align: center;}
    .work-page figure.work-postlist-even figcaption, .work-page figure figcaption{width: 100%;text-align: center;height: auto;background-size: contain;
    background-position: center center;} 
    .work-testimonial-list figure figcaption{height: auto;}
    .contact-top-intro p{width: 100%;}
    .form-wrapper p.contact-text {font-size: 20px;line-height: 55px;}
    span.wpcf7-form-control-wrap.appdetail, span.wpcf7-form-control-wrap.names, span.wpcf7-form-control-wrap.email{margin: 0 5px;}
    span.wpcf7-form-control-wrap.first_name, span.wpcf7-form-control-wrap.email, span.wpcf7-form-control-wrap.phone {width: 400px;}
    .form-wrapper .input-text, .form-wrapper input[type="text"], .form-wrapper input[type="input"], .form-wrapper input[type="password"], .form-wrapper input[type="email"], .form-wrapper input[type="number"], .form-wrapper input[type="url"], .form-wrapper input[type="tel"], .form-wrapper input[type="search"], .form-wrapper textarea, .form-wrapper select {font-size: 20px;}
    section.contact-Faq-sec .container {padding: 90px 50px;}
    .contact-footer-box:first-child{width: 70%;}
    .contact-footer-box {width: 30%;}
    .contact-footer-box:last-child {width: 100%;}
    .contact-info .container {padding: 30px 50px 0px;}
    .contact-footer-box:last-child{clear: left;margin-top: 40px;}
    .contact-info .container{background-size: cover;}
    ul.main-process-list li {width: 100%;margin-right: 0;}
    .experience-sec-heading-wrap p, .experience-sec-bottom-text p {width: 100%;}
    ul.experience-list li {width: 33.33%;}
    .mobile-technologies-sec {overflow: hidden;}
    ul.mobile-technologies-right {width: 100%;}
    ul.mobile-technologies-right li {width: 33.33%;}
    .mobile-technologies-sec .container {padding: 0;}
    .mobile-technologies-left {float: none;width: 100%;padding: 100px 50px 100px 50px;
    height: 100%;}
    .mobile-technologies-left p{margin-bottom: 0;}
    .main-process-wrap {padding-bottom: 30px;}
    .mobile-technologies-sec .container {padding: 0;}
    .news-section-single-page h1 {font-size: 32px;}
    .news-top-content-wrapper h2{font-size: 24px;line-height: 30px;}
    .news-section-single-page .blog-share-link span {width: 100%;}
    .news-section-single-page .blog-dt.desktop{display: none;}
    .news-section-single-page .blog-dt.mobile{display: block;margin-bottom: 10px;}
    .news-section-single-page .blog-share-link span.blog-share{text-align: center;}
    .related-news-blogs article:first-child {margin-right: 0;margin-bottom: 90px;}
    .news-section-single-page article {padding-top: 90px;}
    .related-news-blogs article {width: 100%;padding-top: 0;}
    .news-section-single-page {padding-top: 0;}
    .blog-share-link {margin-bottom: 70px;}
    .contact-info {padding-top: 0;padding-bottom: 0;}
    .home-first-sec-left h1, .contact-top-intro h1, h1.page-title, .top-title-wrap h1, .related-projects-blogs h1, .what-we-do-sec-wrap h1{font-size: 48px;line-height: 66px;}
    .challenge-sec .app-logo {float: none;width: 100%;text-align: center;}
    .app-logo img {width: 200px;margin-top: 0;}
    .top-title-wrap {margin-bottom: 0;}
    .challenge-sec .challenge-content {float: left;width: 100%;}
    blockquote.tag-line p {font-size: 18px;padding: 35px 60px;margin-bottom: 10px;}
    .related-projects-blogs figure.single_related {width: 100%;float: none;clear: both;}
    figure.single_related figcaption {float: none;width: 100%;text-align: center;margin-bottom: 40px;}
    figure.single_related figcaption:last-child{margin-bottom: 0;}
    figure.single_related figcaption p{margin-bottom: 60px;}
    .related-projects-blogs figure figcaption h2{margin-right: 0;}
    figure.single_related .img-left {
    float: none;
    width: 100%;
    margin-right: 0%;
    height: auto;}
    figure.single_related .img-left img {width: 150px;margin: 30px auto;text-align: center;}
    .title-wrapper {text-align: left;}
    .news-top-content-wrapper .blog-img {margin-right: -50px;margin-left: -50px;}
    .news-right figure img {width: 25%;height: auto;}
    .news-right figure figcaption {width: 75%;}
    .news-top-content-wrapper .blog-dt {float: right;}

}
@media (min-width: 1024px) and (max-width: 1200px){
    .what-we-do-sec .container {padding: 0;}
    .work-page figure figcaption, .work-page figure.work-postlist-even figcaption{padding:   0;}
    .work-list-post-title h3{margin-right:10px;}
    .top_menu_left .navbar-brand {padding: 27px 20px 27px 0px;}
	.container { padding: 0 50px;}
    .mobile-technologies-sec {overflow: hidden;}
    .home-first-sec-right {float: none;width: 100%;height: auto;padding-left: 0;margin: 0 auto;text-align: center;}
    .home-first-sec-left h1 {top: 60%;}
    .home-first-sec-left {float: none;width: 100%;height: 270px;}
    .home-first-sec {height: 450px;}
    .home-first-sec-right a {
    -ms-transform: translate(0px);
    -webkit-transform: translate(0px);
    transform: translateY(0px);}
    .home-second-sec .container {padding: 0 0 90px;overflow: hidden;}
    .home-third-sec.container-fluid{padding-top: 0;}
	.top_menu_bar {padding: 0px 30px;}
	header {height: 80px;}
    .home-second-sec-left {padding: 105px 50px 105px 50px;}
    .home-second-sec-left h2 {
    width: 100%;
    font-size: 30px;
    line-height: 36px;}
    .home-first-sec-right {padding-left: 0;}
    ul.home-forth-sec-process-list  li.process_list:first-child:before{left: -45%;}
    ul.home-forth-sec-process-list  li.process_list:nth-child(3)::before{left: -9%;}
    ul.home-forth-sec-process-list  li.process_list:nth-child(3)::after{width: 34%;}
    ul.home-forth-sec-process-list li.process_list:nth-child(4)::before{width: 34%;}
    ul.home-forth-sec-process-list li.process_list:last-child:after{width: 74%;}
	main {margin-top: 80px;padding:0;}
	.discuss-project:after{width: 52px;right: -50px;}
    .discuss-project:before {width: 52px;left: -50px;}
    .work-page figure .work_list_left, .work-page figure.work-postlist-even .work_list_left,.work-page figure.work-postlist-even figcaption, .work-page figure figcaption {height: 300px;}
    .work-testimonial-list figure figcaption{height: auto;}
    .form-wrapper p.contact-text {font-size: 24px;line-height: 55px;}
    span.wpcf7-form-control-wrap.appdetail, span.wpcf7-form-control-wrap.names, span.wpcf7-form-control-wrap.email{margin: 0 25px;}
    .form-wrapper .input-text, .form-wrapper input[type="text"], .form-wrapper input[type="input"], .form-wrapper input[type="password"], .form-wrapper input[type="email"], .form-wrapper input[type="number"], .form-wrapper input[type="url"], .form-wrapper input[type="tel"], .form-wrapper input[type="search"], .form-wrapper textarea, .form-wrapper select {font-size: 24px;}
    section.contact-Faq-sec .container {padding: 90px 50px;}
    .mobile-technologies-sec .container {padding: 0;}
    .mobile-technologies-left {padding: 117px 50px 117px 50px;}
    .contact-info {padding: 0;}
    .wpcf7-form-control-wrap {
    position: relative;
    display: inline-grid;}
    .contact-info .container {padding: 90px 50px;}
}
@media (min-width: 1200px) and (max-width: 1439px){
.top_menu_bar {
    padding: 0px 30px;
}
.home-second-sec .container {padding: 0 0 90px;overflow: hidden;}
.mobile-technologies-sec {overflow: hidden;}
.home-third-sec.container-fluid{padding-top: 0;}
/*.discuss-project {overflow: hidden;}*/
section.our-work-section{
    overflow: hidden;
}

}
@media (min-width: 1440px) and (max-width: 1499px){
.top_menu_bar {
    padding: 0px 20px;
}
section.our-work-section{
    overflow: hidden;
}
.home-second-sec {
   overflow: hidden;
}
}