/*fontface*/

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
    url('../fonts/MyriadProRegular.woff2') format('woff2'),
    url('../fonts/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadProRegular.ttf') format('truetype'),
    url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

body{
    font-family: 'MyriadProRegular';
}

.header-bg{ /*background-color:#646b93; background-color:#1c458c;*/  background-color: #fff; padding: 30px 0; }

.banner-section{
    /*background-color: #1c458c;*/
    background-color: #fff;
    /*border-bottom:1px solid #9f9f9f;*/
    padding: 0 0 30px 0;
    color:#fff;
}

.banner-section p{color:#fff;}
.banner-section hr{
    /*border-color: #00e0d0;*/
    border-color:#fff;
    width: 7%;
}
.banner-section h2{}
.banner-section p{
    font-size: 13px;
    line-height: 22px;
}

.for-button{
    background-color: transparent;
    border-radius: 2px;
    /*border:1px solid #00e0d0;*/
    border:1px solid #9f9f9f;
    width: 210px; /*width: 245px;*/
    margin-top: 30px;
    margin-bottom: 0;
    /*color: #00e0d0;*/
    color: #000;
    /*text-transform: uppercase;*/
    margin-left: 10px;
}
.for-button:hover, .for-button:focus{
    color: #fff;
    /*background-color: #00e0d0;*/
    background-color: #000;
    border:1px solid #000;
}

.owl-banner.owl-carousel .owl-item img{
 width: auto;
    margin: 0 auto;
}

.owl-banner.owl-theme .owl-dots .owl-dot span{
   /* background-color: #8dede4;*/
    background-color: #e1e1e1;
}
.owl-banner.owl-theme .owl-dots .owl-dot.active span, .owl-banner.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #1c458c;
}

.main-cont{
    padding: 40px 0;
	border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

.footer-section{
    background: url(../images/footer-bg.jpg) center top;
    background-size: 100% 100%;
    padding:50px 0 20px;
}

.footer-section p{color:#fff}

.mid-verticle{ display: table;  width: 100%;  margin-bottom: 30px;}
.mid-verticle p{ margin: 0; padding: 0}
.mid-verticle h3{ margin: 0; padding: 0}
.vertical-container{ display: table-cell; vertical-align: middle; text-align: center;}
.for-footerlogo-box{ width: 41%;}

.headerLogo {text-align: left}
.headerLogo .size-post-thumbnail{ height: 60px; width: auto;}
.headerBtn {text-align: right; font-size: 16px; font-weight: bold; color: #313131; margin-top: 10px}
.headerBtn .btn {font-size: 16px; margin-left: 20px; padding: 8px 30px; font-weight: 600}
.pocketLogo {text-align: center; margin: 35px auto}
.pocketLogo span {font-size: 16px; font-weight: 600; color: #313131; letter-spacing: 1px; margin-right: 20px;}
.pocketLogo img.img-responsive {display: inline-block;}

.deviceListing {margin-top: -240px;}

.downloadApp {padding: 8px 20px 8px 10px; font-weight: 600}
.downloadApp span {margin-right: 10px}


@media only screen and (max-width: 767px) {
    .banner-section p{ font-size: 14px;}
    .tutorial-discription .for-button{ margin-bottom: 0}
    .tutorial-discription{text-align: center;}
    .footer-section{ padding-top: 30px;}
    .for-footerlogo-box, .for-footertext-box{
        width: 100%;
        display: inline-table;
    }
    .for-footerlogo-box{
        padding-bottom: 20px;
    }
    .for-button{
        margin-bottom: 0px;
    }
	.headerLogo {text-align: center}
	.headerBtn {text-align: center; margin-top: 25px}
	.pocketLogo span {display: block; margin-right: 0; margin-bottom: 15px;}
	ul, ol {text-align: left}
	.deviceListing {text-align: center}
}
@media only screen and (max-width: 991px) {
	.deviceListing {margin-top: 30px;}
}

@media only screen and (min-width: 992px){
    .banner-section .container, .main-cont .container, .footer-section .container{
        /*width: 900px;*/
    }
    .banner-section p{
        font-size: 16px;
        line-height: 26px;
    }
}